*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* designed the information div */
.info{
    background:linear-gradient(to left,rgb(9, 97, 221),rgb(3, 41, 88));
    
    color: white;
    font-family:sans-serif;
    
    display: flex;
    height: 90vh;

}
.content h1{
    font-size: 40px;
}
.content h1:hover{
    color: orange;
}
/* style the image */
#data_img{
    width: 430px;
    height: 250px;
    margin: 70px 50px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(1, 1, 35);
}
#data_img:hover{
    transition: 1s;
    border: 2px solid lightblue;
    

}

.content{
    width: 50%;
    margin-top: 25px;
    margin-left: 25px;
    
}
#para{
    margin-top: 20px;
    font-size: 18px;
    color: rgb(226, 218, 218);
}
.ab{
    display: flex;
}

.language p{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.language p:hover{
    color:orange; 
}
#time{
    margin-left: 30px;
}
.course_info{
    margin-left: 30px;
    margin-top: 50px;
}
.course_content{
    width: 60%;
}
.learn_topics{
    font-family: sans-serif;
    border: 0.5px solid black;
    box-shadow: 10px 5px 5px rgb(181, 177, 177);
    border-radius: 20px;
    padding: 10px;
    transition: 3s;
    
}
.learn_topics:hover{
    
    background:linear-gradient(to left,rgb(183, 138, 215),rgb(255, 255, 255));
}
#topic-list li{
    padding: 10px;
    margin-left: 20px;
    list-style-type:decimal;
    font-size: 20px;
}
.course_info{
    display: flex;
    
    
}
.course_details{
    margin: 30px;
    padding: 30px;
    width: 40%;
    font-family: sans-serif;
}
#enrollbtn{
    width: 400px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: rgb(149, 13, 223);
    color: white;
    border-radius: 5px;
}
#enrollbtn:hover{
    background-color: white;
    color: purple;
    border: 3px solid purple;
}
#info{
    height: 300px;
    width: 400px;
}
.course_details h3{
    font-size: 25px;
    margin-left: 10px;
}

.cards{
    margin-top: 50px;
    font-family: sans-serif;
}
.hd{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#why_this_course_h1{
    color: green;
}
.hd p{
    font-size: 25px;
}
.firstrow{
    display: flex;
    padding: 20px;
    
}
.card{
    margin-left: 50px;
}
#dsa{
    height: 145px;
}
#analytics{
    height: 145px;
}
.selection{
    padding-top: 30px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    
}
.selection p{
    font-size: 30px;
}
#company{
    width: 100%;
    height: 200px;
}
.sell{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 200px;
    color: white;
    

    
}
.sell p{
    font-size: 40px;
    margin-left: 70px;
}